<h1><%= @product.name %></h1>
<h5><%= @product.country %>
<h5><%= @product.description %>
<h5><%= @product.price %>
<%= image_tag @product.image  %>

<% if user_signed_in? %>
  <% if current_user.id == @product.owner_id %>
    <p><%= link_to "Edit", edit_user_product_path(@user, @product) %></p>
    <p><%= link_to "Delete Product", user_product_path(@user, @product), :data => {:confirm => "REALLY???", :method => "delete"} %></p>
  <% end %>
<% end %>

<p><%= link_to "Return to products", products_path %></p>
